.about {
  padding-top: 0;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  .about-inner {
    display: grid;
    //grid-template-columns: 300px 360px 360px 1fr;
    //grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: minmax(773px, 773px) minmax(300px, 515px);

    grid-template-areas: "big mid mid "
                        "big small small";
    border: 1px solid #c7c7c7;
    & .about-big {
      grid-area: big;
      border: 1px solid #c7c7c7;
    }
    & .about-middle {
      grid-area: mid;
      border: 1px solid #c7c7c7;
    }
    & .about-small {
      grid-area: small;
      border: 1px solid #c7c7c7;
    }
  }
  .about-inner {
    background-color: #fff;
    max-width: 1280px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
P{
  margin: 8px 0;
  font-weight: 400;
}
    .title-new-p{
      font-family: Gilroy-Bold;
      margin-bottom: 10px;
    }
    .about-big {
      padding:80px 90px;
      .title-new-p {

      }

      p {

      }
    }

    .about-middle {
      padding:40px 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .title-new-p {

      }

      .title-new-p ~ p {
        position: relative;
        padding-left: 40px;
        &:before{
          position: absolute;
          content: "";
          background-image: url(../img/shape.png);
          width: 24px;
          height: 24px;
          left: 0;
          top: 2px;

        }
      }
    }

    .about-small {
      padding:40px 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .title-new-p {

      }

      p {

      }
      a{
        margin:20px 0 0;

      }
    }
  }
}
@media (max-width: 1300px) {
  .about .about-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "big mid"
                         "big small";
    border: 1px solid #c7c7c7;
  }
}
@media (max-width: 1200px) {
  .about .about-inner .about-big {
    padding: 40px;
  }
  .about .about-inner .about-middle {
    padding: 40px;
  }
  .about .about-inner .about-small {
    padding: 40px;
  }
}
@media (max-width: 993px) {
  .about .about-inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "big"
                         "mid"
                          "small";
    border: 1px solid #c7c7c7;
  }
}
//@media (max-width: 768px) {
//
//}
//@media (max-width: 480px) {
//
//}